<h1 class="flex items-center justify-center w-full text-4xl font-extrabold dark:text-black mb-6">Distancia entre dos Puntos</h1>
<form class="max-w-sm mx-auto" [formGroup]="formulario">
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numero X1</label>
    <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="X1" formControlName="x1" required />
  </div>
  <div class="mb-5">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numero Y1</label>  
  <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Y1" formControlName="y1" required />
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numero X2</label>
    <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="X2" formControlName="x2" required />
  </div>
  <div class="mb-5">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Numero Y2</label>  
  <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Y2" formControlName="y2" required />
  </div>
  <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"(click)="Distancia()">Calcular</button>
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Resultado {{resultado}}</label>
</form>

    
